* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

.common {
    width: 90%;
    margin: auto;
}


/* 1st tearm start  */
/* header start  */
.brand-container {
    display: flex;
    justify-content: space-between;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.container-hero a {
    text-decoration: none;
    color: rgb(86, 78, 78);
    font-size: 12px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.container-buttons {
    display: flex;
    gap: 45px;
    margin: auto;
    padding: 15px;
}

.container-buttons button {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.login-button {
    border: none;
    color: #96BB7C;
    background-color: white;
    cursor: pointer;
    font-size: 12px;
}

.join-button {
    border: none;
    background-color: #96BB7C;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 12px;
}

/* header end  */
/* middle header start  */
.online {
    font-size: 11.5px;
    color: #96BB7C;

    margin-bottom: 0.5%;
}

.middle-header-hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-header-hero-container h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    color: rgb(28, 27, 27);
}

.middle-header-hero-container p {
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(86, 78, 78);
}

.button-get {
    padding: 12px;
    cursor: pointer;
    background-color: #96BB7C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.button-learn {
    padding: 12px;
    cursor: pointer;
    background-color: white;
    color: #96BB7C;
    border: none;
    border-radius: 5px;
    border: 1px solid #96BB7C;
    font-size: 12px;


}

.header-container {
    width: 100%;
}

.header-image {
    width: 100%;
    height: 384.92px;
    display: flex;
    justify-content: end;
}

/* middle header end  */
/* 1st tearm end  */
/* 2nd tearm start  */
.container-tearm {
    padding-top: 80px;
}


.container-tearm h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.para-div {
    margin-bottom: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(86, 78, 78);
}

.para-practice {
    font-size: 12px;
    color: #96BB7C;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.course-card {
    box-shadow: 0px 0px 12px gray;
    padding: 25px;


}

.course-card p {
    font-size: 12px;
    color: rgb(86, 78, 78);
}

.course-card h5 {
    margin-top: 10px;
    margin-bottom: 20px;

}

.card-testube {
    background-color: #96BB7C;
    color: white;
}

.card-testube p {
    color: white;
}

/* 2nd tearm end  */
/* 3rd tearm start  */
.get-quality-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 25px;
    margin-bottom: 45px;
}

.get-image {
    width: 100%;
    height: 354.92px;
}

.get-course {
    width: 100%;
    margin-top: 25px;
}

.learn-more {
    background-color: #96BB7C;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 12px;
}

.get-course h1 {
    margin-top: 25px;
    margin-bottom: 25px;

}

.get-course p {
    margin-bottom: 25px;
    color: rgb(166, 159, 159);
    font-size: 12px;
}

/* 3rd tearm end  */
/* 4th tearm start  */
.expet-teacher-container {
    background-color: #FFF2F3;
}

.expet-teacher-container {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
}

.expet-teacher-container p,
h1 {
    display: flex;
    justify-content: center;
    margin: auto;

}


.newsletter {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 12px;
    color: #96BB7C;

}

.expet-teacher-container h1 {
    margin-top: 25px;
    padding-top: 35px;
    margin-bottom: 20px;

}

.expert-paragraph {
    font-size: 12px;
    color: rgb(64, 61, 61);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.inputing {
    display: flex;
    margin: auto;
    font-weight: 100%;
    width: 750px;
    padding: 15px;
    padding-left: 25px;
    margin-left: 25px;
    border: none;
}

.input {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-bottom: 25px;

}

.input button {
    margin-right: 13%;
    color: white;
    background-color: #96BB7C;
    cursor: pointer;
    padding: 15px;
    border: none;
    font-size: 12px;
}

/* 4th tearm end  */

/* footer start  */
.footer-container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 25px;
    gap: 25px;
    margin-bottom: 25px;
}

.footer-style {
    padding: 20px;
    gap: 17px;

}

.footer-style p {
    font-size: 12px;
    color: rgb(114, 112, 112);
    gap: 15px;
    margin-bottom: 20px;
}

.footer-style i {
    color: #96BB7C;
}

.footer-style h5 {
    margin-bottom: 20px;
}

.last-footer-container {
    display: flex;
    justify-content: space-between;
}

.last-footer {
    color: rgb(82, 77, 77);
    margin-bottom: 20px;
}

.footer-icon {
    color: #96BB7C;
    display: flex;
    gap: 25px;
}

/* footer end  */
/* for mobile phone start  */

@media only screen and (max-width: 750px) {

    .middle-header-hero-container {
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .get-quality-container {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}


/* for mobile phone end  */